<app-navbar></app-navbar>

<main>
  <h2>Panel de Inventario</h2>

  <div class="buscador-container">
    <h3>Filtros de Búsqueda</h3>

    <label>Nombre:</label>
    <input type="text" [(ngModel)]="textoBusqueda" placeholder="Ej: Aspirina..." />

    <label>Precio máximo:</label>
    <input type="number" [(ngModel)]="precioMaximo" />

    <button (click)="limpiarFiltros()">Limpiar Filtros</button>

    <p *ngIf="textoBusqueda !== ''">
      Estás buscando: <strong>{{ textoBusqueda }}</strong>
    </p>
  </div>

  <section class="formulario">
    <h3>Añadir Nuevo Medicamento</h3>
    <input type="text" [(ngModel)]="nuevoNombre" placeholder="Nombre" />
    <input type="number" [(ngModel)]="nuevoPrecio" placeholder="Precio" />
    <input type="number" [(ngModel)]="nuevoStock" placeholder="Stock" />

    <button (click)="agregarMedicamento()">Guardar en Inventario</button>
  </section>

  <table>
    <thead>
      <tr *ngFor="let m of medicamentosFiltrados">
        <td>{{ m.stock < 5 ? m.nombre.toUpperCase() : m.nombre }}</td>

        <td>{{ m.precio | currency: 'EUR' }}</td>

        <td
          [style.color]="m.stock < 10 ? 'red' : 'black'"
          [style.font-weight]="m.stock < 10 ? 'bold' : 'normal'"
        >
          {{ m.stock }}
        </td>

        <td>
          <span *ngIf="m.stock > 20">✅ Disponible</span>
          <span *ngIf="m.stock <= 20 && m.stock > 0">⚠️ Reponer pronto</span>
          <span *ngIf="m.stock === 0">❌ Agotado</span>
          <br />
          <small style="color: #bbb">Ref: {{ m.id }}</small>
        </td>

        <td>
          <button [disabled]="m.stock === 0" (click)="stock.realizarVenta(m.id)">
            {{ m.stock > 0 ? 'Vender' : 'Sin Stock' }}
          </button>
        </td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of medicamentosFiltrados">
        <td>{{ m.nombre }}</td>

        <td>{{ m.precio | currency: 'EUR' }}</td>

        <td
          [style.color]="m.stock < 10 ? 'red' : 'black'"
          [style.font-weight]="m.stock < 10 ? 'bold' : 'normal'"
        >
          {{ m.stock }}
        </td>

        <td>
          <span *ngIf="m.stock > 20">✅ Disponible</span>
          <span *ngIf="m.stock <= 20">⚠️ Reponer pronto</span>
          <br />
          <small style="color: #bbb">Ref: {{ m.id | acortarId }}</small>
        </td>

        <td>
          <button (click)="stock.realizarVenta(m.id)">Vender</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
