<app-navbar></app-navbar>
<main>
  <h2>Panel de Inventario</h2>
  <div>
    <label>Buscar medicamento:</label>
    <input type="text" [(ngModel)]="textoBusqueda" />
    <p>Estás buscando: {{ textoBusqueda }}</p>
  </div>
  <section class="formulario">
    <h3>Añadir Medicamento</h3>
    <input type="text" [(ngModel)]="nuevoNombre" placeholder="Nombre" />
    <input type="number" [(ngModel)]="nuevoPrecio" placeholder="Precio" />
    <input type="number" [(ngModel)]="nuevoStock" placeholder="Stock" />

    <button (click)="agregarMedicamento()">Guardar en Inventario</button>
  </section>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of stock.listaMedicamentos">
        <td>{{ m.id | date: 'HH:mm:ss' }}</td>

        <td>{{ m.precio | currency: 'EUR' }}</td>
        <td
          [style.color]="m.stock < 10 ? 'red' : 'black'"
          [style.font-weight]="m.stock < 10 ? 'bold' : 'normal'"
        >
          {{ m.stock }}
        </td>
        <td [style.color]="m.stock < 10 ? 'red' : 'green'">
          {{ m.stock }}
        </td>
        <td>
          <span *ngIf="m.stock > 20">✅ Disponible</span>
          <span *ngIf="m.stock <= 20">⚠️ Reponer pronto</span>
        </td>
        <td>
          <button (click)="stock.realizarVenta(m.id)">Vender</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
