<app-navbar></app-navbar>
<main>
  <h2>Panel de Inventario</h2>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Estado</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let m of stock.listaMedicamentos">
        <td>{{ m.nombre }}</td>
        <td>{{ m.precio }}€</td>
        <td>{{ m.stock }}</td>
        <td>
          <span *ngIf="m.stock > 20">✅ Disponible</span>
          <span *ngIf="m.stock <= 20">⚠️ Reponer pronto</span>
        </td>
        <td>
          <button (click)="stock.realizarVenta(m.id)">Vender</button>
        </td>
      </tr>
    </tbody>
  </table>
</main>
